{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Home - E-click Technologies{% endblock %}

{% block content %}
<!-- Hero Section -->
{% include 'components/hero_section.html' %}

<!-- Services Section -->
{% include 'components/services_section.html' %}

<!-- Solutions Section -->  
{% include 'components/solutions_section.html' %}

<!-- Clients Section -->
{% include 'components/clients_section.html' %}

<!-- Contact Section -->
{% include 'components/contact_section.html' %}
{% endblock %}